form {
   display: block;
   margin-left: 300px;
   margin-right: 300px;
   border: 2px solid black;
   border-radius: 10px;
   background: #AFEEEE;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
}
img {
    margin-left: 10px;
}
#login_h1 {
   color: #333333;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: auto;
   background: url('https://yastatic.net/s3/lyceum/content/images/second-year/web/MARS-2-7.png') no-repeat;
   padding-left: 155px;
}
.post{
    border: 2px solid black;
    border-radius: 10px;
}
b {
    margin-left: 230px;
    margin-right: auto;
}

#news{
    max-width: 60%;
    margin-left: 2%;
    margin-right: 2%;
}
.private{
    color: rgb(100, 100, 180);
    display:inline-block;
}
h2, div, .buttons, table {
    font-family: cursive;
    display: block;
}
h2 {
    margin-left: 150px;
}

h3 {
    margin-left: 300px;
}
h4 {
    margin-left: 15px;
}
.forms{
    margin-left: 10px;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#work_logs {
  padding-left: 300px;
}
/* alljobs */
#parent1 {
    display: flex;
}
#room_list {
    max-width: 200px;
    margin-left: 5%;
    margin-right: 3%;
}
#main_table {
    border-collapse: separate;
	border-spacing: 20px;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 70%;
}
#job_name {
	text-align: center;
	font-weight: bold;
	width: 250px;
	word-wrap: break-word;
}
#job_cover {
	text-align: center;
	width: 250px;
	word-wrap: break-word;
}
#job_img {
	height: 200px;
	width: 200px;
}
#job_teamlead{
	text-align: center;
	font-weight: bold;
	width: 250px;
	word-wrap: break-word;
}
