{% extends "base.html" %}

{% block content %}
<h2 id="temp">{{ title }}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="forms">
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="forms">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="forms">
            {{ form.work_size.label }}<br>
            {{ form.work_size(class="form-control") }}<br>
            {% for error in form.work_size.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="forms">
            {{ form.collaborators.label }}<br>
            {{ form.collaborators(class="form-control") }}<br>
            {% for error in form.collaborators.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="forms">
            {{ form.hazard_level.label }}<br>
            {{ form.hazard_level(class="form-control") }}<br>
            {% for error in form.hazard_level.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="forms">
            {{ form.start_date.label }}<br>
            {{ form.start_date(class="form-control") }}<br>
            {% for error in form.start_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="forms">
            {{ form.end_date.label }}<br>
            {{ form.end_date(class="form-control") }}<br>
            {% for error in form.end_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <p class="forms">{{ form.is_finished() }} {{ form.is_finished.label }}</p>
        <p class="forms">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}