{% extends "base.html" %}

{% block content %}
<style>
    #job_teamlead{
    border: 1px;

    background-color: #AFEEEE;
    border:


    }
    #roomss{

        text-decoration: none;
      display: inline-block;
      color: black;
      padding: 20px 30px;
      border-radius: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: #97D178;
      background-size: 200% auto;
      transition: .3s;
    }
     #roomss:hover{
     letter-spacing: 3px;
    #search_query {
      display: inline-block;
  }
  form {
      text-align: center;
      background-color: #3c1e00;
      padding: 20px;
      border-radius: 5px;
      color: white;
    }
    input[type="text"] {
      width: 70%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
    }
    button[type="submit"] {
      width: 20%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button[type="reset"] {
      width: 20%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button[type="submit"]:hover {
      width: 300px;
      background-color: #45a049;
    }
     }

</style>
<br><h2 id="spec2">Комната номер {{ crId }} для пользователя {{ crU }}</h2><br>
<form1 action="/search/{{ crId }}" method="POST">
    <br>
    <div id="work_logs">
        <div id="search_query">
            {% if current_user.is_authenticated %}
            <a href="/addjob/{{ crId }}" class="btn btn-secondary">Добавить работу</a>
            {% endif %}
            <input type="text" name="query" placeholder="{{ label }}">
            <button type="submit" class="btn btn-success">Поиск</button>
            <a href="/alljobs/{{ crId }}" class="btn btn-danger">Отмена</a>
        </div>
    </div>
    <br></form1><br>
<div id="parent1">
    <div id="room_list">
        <br><a href="/allrooms" class="btn btn-secondary">Посмотреть все комнаты</a>
        {% for room in rooms %}
        <ol>
            <br><a href="/alljobs/{{ room[1] }}">
            <li id='roomss'>{{ room[0] }}</li>
        </a>
        </ol>
        {% endfor %}
    </div>
</div>
<div id='notifications'>
    {% for n in notes1 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ n }}
    </div>
    {%endfor%}
</div>
{% for data in ans %}
<table id="main_table">
    <tr id="job_name">
        {% for row in data %}
        <td>
            <h5>Задача №{{ row[2] }}</h5>
            <div class="buttons">
                <a href="/addjob/{{ crId }}/{{ row[2] }}" class="btn btn-warning">Изменить</a>
                <a href="/job_delete/{{ crId }}/{{ row[2] }}" class="btn btn-danger">Удалить</a>
            </div>
        </td>
        {% endfor %}
    </tr>
    <tr id="job_cover" style="border-radius: 20px;">
        {% for row in data %}
        <td>
            <a href="/job_description/{{row[2]}}/{{crId}}">
                <img src="{{ url_for('static', filename='covers/' + row[3]) }}" id="job_img"
                     style="border-radius: 20px;"/>
                <div class="CoverText">{{ row[0] }}</div>
            </a>
        </td>
        {% endfor %}
    </tr>
    <tr id="job_teamlead">
        {% for row in data %}
        <td>
            Тим лид: {{row[1]}}
        </td>
        {% endfor %}
    </tr>
</table>
{% endfor %}
{% endblock %}



