{% extends "base.html" %}

{% block content %}
<style>
    .table {
text-align: left;
width  = 600px;
border-spacing: 5px;
background: #AFEEEE;

border: 16px solid #ECE9E0;
border-radius: 20px;
}



</style>
<br><h2 id="spec2">Список задач</h2><br>
<a href="/addjob/{{ room_id }}" class="name_btn">Добавить задачу в личную комнату</a><br><br>
<a class="name_btn" href="/alljobs/{{current_user.current_room}}">Перейти в личную комнату</a>
<div id="work_logs">

    <br/>
    {% for task in tasks %}
    <h5>Задача № {{ task[5] }}</h5>
    <div class="buttons">
        <a href="/job_description/{{ task[5] }}/1" class="btn btn-warning">Перейти</a>
        <a href="/addroom/{{ task[5] }}" class="btn btn-danger">Изменить</a>
        <a href="/room_delete/{{ task[5] }}" class="btn btn-danger">Удалить</a>
    </div>
    <br/>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="col-2">Тим Лид</th>
            <th scope="col" class="col-2">Описание</th>
            <th scope="col" class="col-2">Дата Начала</th>
            <th scope="col" class="col-2">Список соучастников</th>
            <th scope="col" class="col-2">Статус</th>
            <th scope="col" class="col-4">Комнаты с этой задачей</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-2">{{ task[0] }}</td>
            <td class="col-2">{{ task[1] }}</td>
            <td class="col-2">{{ task[2] }}</td>
            <td class="col-2">{{ task[3] }}</td>
            <td class="col-2">{{ task[4] }}</td>
            <td class="col-4">{{ task[6] }}</td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}