{% extends "base.html" %}

{% block content %}

<br><h2 id="spec2">Список задач</h2><br>
<a href="/addjob/{{ room_id }}" class="name_btn">Добавить задачу в личную комнату</a><br><br>
<a class="name_btn" href="/alljobs/{{current_user.current_room}}">Перейти в личную комнату</a>
<div id="work_logs">

    <br/>
    {% for task in tasks %}
    <h5>Задача № {{ task[5] }}</h5>
    <div class="buttons">
        <a href="/job_description/{{ task[5] }}/{{ room_id }}" class="btn btn-warning">Перейти</a>
        <a href="/addjob/{{ room_id }}/{{ task[5] }}" class="btn btn-danger">Изменить</a>
        <a href="/job_delete/{{ delete_task }}/{{ task[5] }}" class="btn btn-danger">Удалить</a>
    </div>
    <br/>
    <table class="table">
        <thead class="thead-light">
        <tr class="d-flex">
            <th scope="col" class="col-2" style="background-color: #97D178">Тим Лид</th>
            <th scope="col" class="col-2" style="background-color: #97D178">Описание</th>
            <th scope="col" class="col-2" style="background-color: #97D178">Дата Начала</th>
            <th scope="col" class="col-2" style="background-color: #97D178">Список соучастников</th>
            <th scope="col" class="col-2" style="background-color: #97D178">Статус</th>
            <th scope="col" class="col-4" style="background-color: #97D178">Комнаты с этой задачей</th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex">
            <td class="col-2" style="background-color: white">{{ task[0] }}</td>
            <td class="col-2" style="background-color: white">{{ task[1] }}</td>
            <td class="col-2" style="background-color: white">{{ task[2] }}</td>
            <td class="col-2" style="background-color: white">{{ task[3] }}</td>
            <td class="col-2" style="background-color: white">{{ task[4] }}</td>
            <td class="col-4" style="background-color: white">{{ task[6] }}</td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}