{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>
<style>
    .buttons {
    font-family: cursive;
    display: block;
}
</style>
<br>
<form action="" method="post">
    <h2>Авторизация</h2>
    {{ form.hidden_tag() }}
    <div>
        <font size="4">{{ form.email.label }}</font><br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div>
        <font size="4">{{ form.password.label }}</font><br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div><font size="4">{{ form.remember_me() }} {{ form.remember_me.label }}</font></div>
    <br>
    <div class="buttons">
        <p>{{ form.submit(type="submit", class="btn btn-success") }}</p> <a href="/register" class="btn btn-primary">Зарегистрироваться</a>
    </div>
    <div>{{ message }}</div>
</form>
{% endblock %}